---
import { Badge } from "@/components/ui/badge"
import type { CollectionEntry } from "astro:content"

interface Props {
  entry: CollectionEntry<"experience">
}

const entry = Astro.props.entry
const { role, place, start, end, technology } = entry.data
const { Content } = await entry.render()

const formatter = new Intl.DateTimeFormat("en", {
  year: "numeric",
  month: "short"
})

const range = (() => {
  const startTime = new Date(start.year, start.month - 1)
  if (!end) return `${formatter.format(startTime)} \u2013 present`
  return formatter.formatRange(startTime, new Date(end.year, end.month - 1))
})()
---

<li class="group relative flex flex-col gap-2 sm:flex-row">
  <small class="w-36 text-muted-foreground">{range}</small>
  <div class="flex-1 space-y-2">
    <h3 class="font-semibold transition-colors group-hover:text-primary">
      {role} • {place}
    </h3>
    <div class="text-sm text-muted-foreground">
      <Content />
    </div>
    <div class="flex gap-1">
      {
        technology.map((item) => (
          <Badge variant="outline" className="border-primary text-primary">
            {item}
          </Badge>
        ))
      }
    </div>
  </div>
  <div
    class="absolute -inset-4 -z-10 rounded-md transition-colors group-hover:bg-muted"
  >
  </div>
</li>
